/* GENERAL */
h1,h2{
	font-family: 'Poiret One', cursive;
	font-size: 19pt;
	color: #7F0D00;	
	font-style: bold;
}

h3{
	color: #FF917A;
	font-family: 'Poiret One', cursive;
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
}

img{
	height: 250px;
	border-radius: 50%;
	display: block;
	margin:auto;
}

button{
	background-color: #FF917A;
	font-size: 18pt;
	color: white;
}

a:link{
	color: #FF917A;
	text-decoration: none;
}

a:hover{
	color:white;
}

a:visited{
	color: gray;
}

nav ul li:hover{
	border: 1px solid gray;
	background-color: #FF917A;
}

.wrapper {
	width: 900px;
	margin: auto;
	padding: 5px 10px;
	background-color: white;
}


/* HEADER */

header{
	background-color: #EFEFEF
}

.soustitre{
 margin: auto;
 text-align: center;
}

.parent {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
	position: relative;
}
.hidden_message{
	display:none;
	background-color: black;
	opacity: 0.8;
	position: absolute;
	height: 100%;
	border-radius: 50%;
	margin:auto;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}

.hidden_message p {
	margin-top: 46%;
	text-align: center;
}

.parent:hover .hidden_message{
	display: block;
}

nav ul li{
	display: inline-block;
	text-decoration: none;
	padding:10px 40px;
	background-color: #FFF3F3;
	font-size: 18px;
	display: center;
	border: 1px solid transparent;
}

h1{
	text-align: center;
}

/* SECTION AVEC LES ARTICLES */
section{
	float: left;
	width: 70%;
	margin: auto;
	padding: auto;
	text-align: justify;
}


section article img{
	height: 200px;
}

article {
	width: 40%;
	padding:4%;
}

.left{
	float: left;
}

.right{
	float: right;
}


/* ASIDE */
aside{
	float: right;
	width: 25%;
	border: 1px solid #FF917A;
	display: block;
	text-align: center;
	height: 900px;
	padding: 10px;
	background-color: #FFF3F3;
}



.fa-star{
	color: #FF917A;
	font-size: 29pt;
	padding-top: 10px;
	padding-right: 10px;
}

.fa-search{
	color: white;
	font-size: 29pt;
}

#GET-name{
	border:1px solid orange;
	height: 20px;
	width: 80%;
	color: #FF917A;
	font-size: 12pt;
}

#GET-name:focus{
	background-color: #EFEFEF;
}

/* FOOTER */
footer{
	clear: both;
	text-align: center;
}

.fa-twitter{
	color:#1AB2E8;
}

.fa-facebook-square{
	color:#44619D;
}

/*MEDIA QUERIES*/



